
.underline{
  width: 0;
  transition: all 0.3s ease;
}

.gounder:hover .underline{
  width: 110px;
}

.firstref img,.naseef img{
  opacity: 0;
  transition: all 1s ease;
}

.firstref p{
  opacity: 0;
  transform: translateY(50px);
  transform-origin: bottom;
  transition: all 1s ease;
}

.firstref .show-section,.naseef .show-section{
  opacity: 1;
  transform: translateY(0);
}

.abouts .logo1 {
  transform: translate(-110%, 50px);
  transition: all 2s ease;
}

.abouts .logo2 {
  transform: translate(-110%, -50px);
  transition: all 2s ease;
}

.abouts .logo3 {
  transform: translate(110%, 50px);
  transition: all 2s ease;
}

.abouts .logo4 {
  transform: translate(110%, -50px);
  transition: all 2s ease;
}

.abouts .show-section {
  transform: translate(0, 0);
}

@keyframes blink-circle {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.blink-circle {
  animation: blink 1.2s infinite;
}
